<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

	<display-name>Content Management</display-name>
	<!-- Processes application requests -->
	<servlet>
		<servlet-name>servlet-context</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
		<multipart-config>
        	<location>/home/void/workspace/Content Management/upload</location>
       	 	<max-file-size>50242880</max-file-size><!--50MB-->
       		<max-request-size>200971520</max-request-size><!--200MB-->
        	<file-size-threshold>0</file-size-threshold>
   		</multipart-config>
	</servlet>
		
	<session-config>
  		<session-timeout>30</session-timeout>
	</session-config>
		
	<servlet-mapping>
		<servlet-name>servlet-context</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
</web-app>
